@font-face {
  font-family: "Kreadon";
  src: url("../fonts/Kreadon-B.woff2") format("woff2"), url("../fonts/Kreadon-D.woff2") format("woff2"), url("../fonts/Kreadon-L.woff2") format("woff2"), url("../fonts/Kreadon-EB.woff2") format("woff2"), url("../fonts/Kreadon-Lightest.woff2") format("woff2"), url("../fonts/Kreadon-M.woff2") format("woff2"), url("../fonts/Kreadon-R.woff2") format("woff2");
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "Kreadon", sans-serif;
}

body {
  background: url("../images/background.jpeg") no-repeat center center fixed;
  background-size: cover;
}

:root {
  --main-color: #efefef;
  --dark-color: #001b16;
  --dark-background-color: rgba(0, 0, 0, 0.3);
  --light-btn-shadow-color: rgba(255, 255, 255, 0.7);
  --green-color: rgb(62, 215, 172);
  --shadow-color: rgba(66, 239, 190, 0.64);
  --dark-grey-color: #bababa;
  --light-grey-color: #cccccc;
}

.header {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 20px 30px 45px;
}
.header .sign-up-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 900;
  color: var(--main-color);
  border-radius: 10px;
  background: var(--dark-color);
  box-shadow: 0 0 0.5rem 0 var(--shadow-color);
  border: none;
}
.header .sign-up-btn .enter-icon {
  margin-left: 5px;
}
.header .sign-up-btn:active,
.header .sign-up-btn:hover,
.header .sign-up-btn:focus {
  border: none;
  cursor: pointer;
  box-shadow: 0 0 1rem 0 var(--green-color);
  transition: all 0.4s;
}

.main-form {
  display: grid;
  justify-content: center;
  max-width: 450px;
  padding: 30px 0 40px 0;
  margin: auto;
  background-color: var(--dark-background-color);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 27px;
}
.main-form .sign-in-form-title {
  text-align: center;
  font-weight: 900;
  font-size: 35px;
  color: var(--main-color);
}
.main-form .registration-area {
  line-height: 1%;
  margin-bottom: 8%;
  color: var(--main-color);
}
.main-form .registration-area .input-names {
  font-size: 14px;
}
.main-form .registration-area .input-area {
  width: 310px;
  height: 40px;
  border-style: hidden;
  background-color: transparent;
  border-bottom: 2px solid var(--main-color);
  color: currentColor;
  font-size: 18px;
}
.main-form .registration-area input {
  margin-bottom: 6px;
  padding-bottom: 6px;
}
.main-form .registration-area input:hover,
.main-form .registration-area input:focus,
.main-form .registration-area input:active {
  outline: 0;
  outline-offset: 0;
  caret-color: var(--main-color);
  color: currentColor;
  font-size: 18px;
}
.main-form .registration-area ::-moz-placeholder {
  font-size: 16px;
  font-weight: 300;
  color: var(--dark-grey-color);
}
.main-form .registration-area ::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: var(--dark-grey-color);
}
.main-form .registration-area #invalid-email,
.main-form .registration-area #invalid-phone,
.main-form .registration-area #invalid-password {
  display: none;
  color: red;
  margin-top: 15px;
}
.main-form .registration-area .password-container {
  display: flex;
  position: relative;
  align-items: center;
  width: 310px;
}
.main-form .registration-area .password-container .input-area {
  width: 100%;
  padding-right: 5px;
}
.main-form .registration-area .password-container img {
  margin-bottom: 8px;
  margin-right: -8px;
  cursor: pointer;
}
.main-form .password-and-button .sign-in-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -11px;
  padding: 10px 20px;
  font-size: 19px;
  width: 310px;
  border-radius: 10px;
  background-color: var(--light-grey-color);
  border: none;
}
.main-form .password-and-button .sign-in-button .main-enter-icon {
  margin-left: 5px;
}
.main-form .password-and-button .sign-in-button:active,
.main-form .password-and-button .sign-in-button:hover,
.main-form .password-and-button .sign-in-button:focus {
  cursor: pointer;
  background-color: var(--main-color);
  box-shadow: 0 0 0.3rem 0 var(--light-btn-shadow-color);
  transition: all 0.4s;
}
.main-form .create-account {
  display: inline;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--main-color);
}
.main-form a {
  color: var(--main-color);
}
.main-form a:active,
.main-form a:hover,
.main-form a:focus {
  cursor: pointer;
  color: var(--green-color);
  text-decoration: none;
  transition: all 0.4s;
}

.main-form:active,
.main-form:hover,
.main-form:focus {
  box-shadow: 0 0 1.7rem 0 var(--shadow-color);
  transition: all 0.4s;
}

.footer {
  background-color: var(--dark-color);
  color: var(--main-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: end;
  right: 100%;
  transform: translateX(100%);
  padding: 15px 30px;
  font-size: 12px;
}/*# sourceMappingURL=sign-up.css.map */