.footer {
    background-color: var(--dark-color);
    color: var(--main-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: end;
    right: 100%;
    transform: translateX(100%);
    padding: 15px 30px; 
    font-size: 12px;
}